.container {
    display: flex;
    
}

.content {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.habits {
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
}

.content_habits {
    max-width: 820px;
    width: 100%;
}

.list_habits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem; 
    
    list-style: none;
}

.list_habits li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 10px;

    font-weight: 800;
}

.checklist {
    height: 20px;
    width: 20px;
    border: 2px solid #5237E9;
    border-radius: 3px;
    cursor: pointer;
    background: transparent;
}

.content_sideBar {
    background: #F1F0FD;
    margin-left: 10px;
    width: calc(100% - 820px);
    height: calc(100vh - 130px);
    border-radius: 10px;

    padding: 20px;

}

.status_today {
   width: 100%;
   background: #fff;

   padding: 25px;
   border-radius: 10px;
}

.status_today h3{
    font-size: 22px;
    font-weight: 800;
}

.status_today p{
    font-size: 14px;
    font-weight: 400;
    color: #737185;
}

.custom_progress {
    position: relative;
    width: 100%;
    height: 12px;
    border-radius: 10px;
    margin: 20px 0;
    border: 0;
    background: #E0D4FF;
  
}

.custom_progress_value{
    position: absolute;
    background-color: #5237E9;
    border-radius: 10px;
    /* width: 70%; */
    height: 100%;
    z-index: 1;
}

.content_ranking {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_ranking h4{
    font-size: 18px;
}

.content_ranking button {
    background: #5237E9;
    border: 0;
    padding: 10px 25px;
    margin-top: 15px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.concluid_tasks {
    margin: 20px 0;
    padding: 20px;
}

.concluid_tasks h4{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
}

.concluid_tasks ul {
    height: 200px;
    list-style: none;
    overflow-y: scroll;
}

.concluid_tasks ul::-webkit-scrollbar {
    width: 5px; 
  }
  
 
  .concluid_tasks ul::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  

  .concluid_tasks ul::-webkit-scrollbar-thumb {
    background-color: #5237E9; 
    border-radius: 5px;
  }
  

  .concluid_tasks ul::-webkit-scrollbar-thumb:hover {
    background-color: #2c10c7; 
  }

.concluid_tasks ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 18px;
}

.task_icon {
    width: 35px;
    height: 35px;
    background: #E0D4FF;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 8px;
}

.details_task h4 {
    font-size: 14px;
}

.details_task p {
    font-size: 12px;
    color: #737185;
}

@media(max-width: 1200px){
    .habits {
        flex-wrap: wrap;
        padding: 20px;
    }

    .content_sideBar{
        width: 100%;
        margin: 10px 0;
        height: calc(100vh - 230px);
    }

    .content_sideBar ul{
        height: 100px;
       
    }

}

@media(max-width: 780px){
    .list_habits {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 1rem; 
        
        list-style: none;
    }
   
}

@media(max-width: 580px){

    .habits {
        flex-wrap: wrap;
        padding: 20px;
    }
    /* .content_habits{
        height: 480px;
    } */
    .content_sideBar{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
}