.container {
    width: 100%;  
    display: flex;
    flex-direction: column;  
}

.information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem; 

    margin-top: 20px;
}

.sequence ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem; 

    list-style: none;
}

.sequence ul li{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.sequence ul li p {
    font-size: 20px;
}
.sequence ul li div{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.sequence ul li div strong{
    font-size: 20px;
    color: #010A1B;
}

.sequence ul li div small{
    font-size: 14px;
    color: #737185;
}

.besthabit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.besthabit strong {
    font-size: 16px;
    color: #010A1B;
}

.besthabit small {
    font-size: 14px;
    color: #5237E9;
    font-weight: bold;
}

.besthabit small:last-child {
    /* font-size: 14px; */
    color: #737185;
    font-weight: 400;

    display: flex;
}

.besthabit small p{
    /* font-size: 14px; */
    color: #5237E9;
    font-weight: bold;
    margin-left: 8px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 2rem; 

    margin-top: 20px;
}
.weekFormat{
    padding-right: 60px;
}
.weekFormat p:last-child {
    margin-top: 25px;
    font-weight: 700;
    color: #737185;
    text-align: center;
}

.week ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    list-style: none;

    /* padding-right: 50px; */
}

.week ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    border: 1px solid #E2E2E2;
    border-radius: 15px;
    padding: 8px 18px;

    width: 30px;
    height: 70px;

}
.week ul li p {
    font-size: 13px;
    font-weight: bold;
}
.week ul li div{
    margin-top: 10px;
    font-size: 20px;
    
    height: 30px;
    width: 30px;
    background: #E0D4FF;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habitsCompletedCalendar {
    display: flex;
    flex-direction: column;
}

.containerDays {
    display: flex;

    width: 380px;
    overflow-x: scroll;
    padding-bottom:10px;
}

.containerDays::-webkit-scrollbar {
    width: 1px; /* Largura da barra de rolagem */
    height: 5px;
    
}

/* Estilizando o trilho da barra de rolagem */
.containerDays::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo do trilho */
}

/* Estilizando o polegar da barra de rolagem */
.containerDays::-webkit-scrollbar-thumb {
    background-color: #5237E9; /* Cor do polegar */
    border-radius: 5px;
}

/* Estilizando o polegar da barra de rolagem quando houver hover */
.containerDays::-webkit-scrollbar-thumb:hover {
    background-color: #2c10c7; /* Cor do polegar ao passar o mouse */
}

.row {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: row;
    gap: 0.20rem; 
      
}

.day {
    font-size: 9px;
    font-weight: bold;
    
    margin-right: 5px;
}

.weekD {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: column;
    gap: 0.2rem;
}
  
  .commit {
    width: 10px;
    height: 10px;
    background-color: #E0D4FF;
    border-radius: 2px;
  }

.contentCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    margin-top: 12px;

}

.contentCheck div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}
.check{
    width: 10px;
    height: 10px;
    background: #E0D4FF;
    border-radius: 3px;
}

.checked {
    width: 10px;
    height: 10px;
    background: #5237E9;
    border-radius: 3px;
}
.ranking {
    overflow-y: scroll;
    height: 230px;

   
}


.tableView {
    width: 100%;
    max-width: 768px;
    border-spacing: 0 0.5rem;
    text-align: left;
}


.ranking::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
    
}

/* Estilizando o trilho da barra de rolagem */
.ranking::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor de fundo do trilho */
}

/* Estilizando o polegar da barra de rolagem */
.ranking::-webkit-scrollbar-thumb {
    background-color: #5237E9; /* Cor do polegar */
    border-radius: 5px;
}

/* Estilizando o polegar da barra de rolagem quando houver hover */
.ranking::-webkit-scrollbar-thumb:hover {
    background-color: #2c10c7; /* Cor do polegar ao passar o mouse */
}

.tableView th {
    font-size: 18px;
    font-weight: 800;
    color: #5237E9;
    line-height: 30px;
    position: sticky;
    top:0;
    background: transparent;

    /* border: 0.25px solid #000; */
}
.tableView th:first-child {
    text-align: start;
}

.tableView th:last-child {
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.tableView td {
    font-weight: 700;
    font-size: 16px;
    /* border: 0.25px solid #000; */
}

.tableView td:first-child {
    font-weight: 700;
    font-size: 25px;
    text-align: start;
    padding-left: 22px;
}

.tableView td:last-child {
    text-align: right;
}
.perfil{
    display: flex;
    
}
.avatar {
    border-radius: 50%;
    margin-right: 10px;
}

@media(max-width: 780px){
    .information {
        display: flex;
        flex-direction: row;

        align-content: space-between;
        align-items: flex-start;

    }
    .sequence ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    
    .calendar{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        
    }
    .weekFormat{
        padding-right: 0;
    }
    .tableView {
        width: 100%;
        max-width: 768px;
        border-spacing: 0.5rem 0.2rem;
        text-align: left;
    }
    .tableView th {
        font-size: 14px;
        font-weight: 800;
        color: #5237E9;
        line-height: 30px;
        position: sticky;
        top:0;
        background: transparent;
    }
    .tableView td:first-child {
        font-weight: 700;
        font-size: 25px;
        text-align: start;
        padding-left: 0px;
    }

    .tableView td {
        font-weight: 700;
        font-size: 12px;
        text-align: start;
        padding-left: 0px;
    }
}