.container {
    width: 100%;
    max-width: 90px;

    padding: 10px 0 10px 10px;

    
}

.content {
    position: sticky;
    top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #0B081C;
    height: calc(100vh - 20px);
    border-radius: 10px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
}
.content ul li a img{
    fill: #A27EFF;
    color: #A27EFF;
}

.active{ 
    fill: #A27EFF;
    color: #A27EFF;
    
}

.content ul li:first-child{
    margin-top: 24px;
    margin-bottom: 100px;
}

.content ul li{
    margin: 22px 0;
}
.content button {
    position: absolute;
    bottom: 0;

    margin-bottom: 20px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.menu_botton{
    display: none;
}

@media(max-width: 580px){
    .container {
        display: none;
    }

    .menu_botton{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;

        width: calc(100% - 30px);
        height: 60px;
        background: #0B081C;

        margin: 15px;
        border-radius: 8px;

        z-index: 100;
    }

    .menu_botton button{
        border: 0;
        background: transparent;

        width: 30px;
        height: 30px;

        border-radius: 8px;
        cursor: pointer;
    }
}